{% extends 'base.html' %}
{% block title %}Home | Bulgarian Rulers{% endblock %}
{% block content %}
<h2>Welcome to Bulgarian Rulers</h2>
<p>Explore the history of Bulgarian monarchs and capitals. Use the forms below to search for monarchs by year or name, find the capital for a specific year or add a new monarch,.</p>

<section>
    <h3>Find Monarch by Year</h3>
    <form>
        <label for="year_by_year">Enter a year (145-1946):</label>
        <input type="text" id="year_by_year" name="year" placeholder="e.g., 893" required>
        <button type="submit" name="find_monarch_by_year">Search</button>
    </form>
    {% if monarch_by_year_result %}
        <div class="result">{{ monarch_by_year_result }}</div>
    {% endif %}
</section>

<section>
    <h3>Find Monarch by Name</h3>
    <form>
        <label for="name_by_name">Enter monarch name:</label>
        <input type="text" id="name_by_name" name="name" placeholder="e.g., Симеон" required>
        <button type="submit" name="find_monarch_by_name">Search</button>
    </form>
    {% if monarch_by_name_results %}
        <div class="result">
            {% for result in monarch_by_name_results %}
                <p>{{ result }}</p>
            {% endfor %}
        </div>
    {% endif %}
</section>

<section>
    <h3>Find Capital by Year</h3>
    <form>
        <label for="year_by_capital">Enter a year (145-1946):</label>
        <input type="text" id="year_by_capital" name="year" placeholder="e.g., 1879" required>
        <button type="submit" name="find_capital_by_year">Search</button>
    </form>
    {% if capital_by_year_result %}
        <div class="result">{{ capital_by_year_result }}</div>
    {% endif %}
</section>

<!--<section>-->
<!--    <h3>Add a Monarch</h3>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        <label for="name_add">Monarch Name:</label>-->
<!--        <input type="text" id="name_add" name="name" placeholder="e.g., Цар Иван" required><br>-->
<!--        <label for="start_year_add">Start Year:</label>-->
<!--        <input type="number" id="start_year_add" name="start_year" placeholder="e.g., 145" min="145" max="1946" required><br>-->
<!--        <label for="end_year_add">End Year:</label>-->
<!--        <input type="number" id="end_year_add" name="end_year" placeholder="e.g., 1946" min="145" max="1946" required><br>-->
<!--        <button type="submit" name="add_monarch">Add Monarch</button>-->
<!--    </form>-->
<!--    {% if add_monarch_result %}-->
<!--        <div class="result">{{ add_monarch_result }}</div>-->
<!--    {% endif %}-->
<!--</section>-->

{% endblock %}